.pagescount {
    margin: 0.5rem;
}
.top-margin {
    margin-top: 1.5rem;
}
pdf-viewer{
    height: 100vh !important;
}
/* .pdf-container {
    height: 100vh !important;
} */

/* :host ::ng-deep .ng2-pdf-viewer-container{
    height: 100vh !important;
} */

:host ::ng-deep .ng2-pdf-viewer-container {
    overflow-x: hidden !important;
    height: max-content !important;
}

.attributeButtons{

}