<div class="modal-body">
  <div class="row justify-content-end mb-2">
    <button id="modalUploadPDF" type="button" class="btn-close me-2" (click)="activeModal.dismiss('Cross click')" aria-label="Close"></button>
  </div>

  <!-- preset selector/scan profile -->
  <div class="preset-selector container p-4" *ngIf="showScanProfileSelector">
    <div class="row justify-content-center mb-5">
      <h4>Please select a scan profile</h4>
    </div>
    <div class="row mb-5">
      <div class="col">
        <div class="card">
          <button class="btn btn-primary">Company 1 - Electricity</button>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <button class="btn btn-primary">Company 2 - Electricity</button>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <button class="btn btn-primary">Company 3 - Electricity</button>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col">
          <div class="card">
            <button class="btn btn-primary">Company 1 - Gas</button>
          </div>
          </div>
          <div class="col">
            <div class="card">
              <button class="btn btn-primary">Company 1 - Solar</button>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <button class="btn btn-primary">Company 1 - Something</button>
            </div>
          </div>
    </div>
    <div class="row justify-content-center p-1">
      <div class="col text-center">
        <p>Add a new scan profile?</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-4">
        <div class="card">
          <button class="btn btn-primary" (click)="this.showScanProfileSelector = false; this.showUtilitySelector = true">New Scan Profile</button>
        </div>
      </div>
    </div>
  </div>

  <!-- utility selector -->
  <div class="utility-selector container p-4" *ngIf="showUtilitySelector">
    <div class="row justify-content-center mb-5">
      <h4>Please select a utility bill or meter option</h4>
    </div>
    <div class="row mb-5">
      <div class="col">
          <div class="card">
            <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Electricity</button>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Water</button>
          </div>
      </div>
      <div class="col">
          <div class="card">
            <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Natural Gas</button>
          </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col">
          <div class="card">
              <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Waste Water</button>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Other Energy</button>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <button class="btn btn-primary" (click)="this.showUtilitySelector = false; this.showPdfModalDiv = true">Other Fuels</button>
            </div>
        </div>
    </div>
  </div>

  <!-- upload pdf -->
  <!-- backend people put your HTML here -->
  <div *ngIf="showPdfModalDiv">
    <div class="fileUploadDiv">
      <label for="formFile" class="form-label"> Please Select File:</label>
      <input class="form-control" type="file" id="upload-doc" accept=".pdf" (change)="uploadPdf($event)">
    
      <div *ngIf="isPdfUploaded" class="button-div">
        <div class="page-div">
          <button (click)="previous()" class="btn btn-success">Previous</button>
          <p class="pagescount">Pages - {{currentpage}} of {{totalPages}}</p>
          <button (click)="next()" class="btn btn-success">Next</button>
        </div>
      </div>
      <div *ngIf="showCropButtons">
        <button (click)="pdfToCanvas()" class="btn btn-primary button-margin">Start Cropping</button>
        <button *ngIf="isPdf2Image" (click)="rtrvCrppdImgFrmStrg()" class="btn btn-primary button-margin">Crop Image</button>
      </div>
    </div>
    <div class="pdf-container top-margin" *ngIf="isPdfUploaded">
      <pdf-viewer 
      [src]="pdfSrc" 
      [render-text]="true" 
      [page]="currentpage" 
      [show-all]="false" 
      [original-size]="false"
      [zoom-scale]="'page-fit'"
      (after-load-complete)="afterLoadComplete($event)">
      </pdf-viewer>
    </div>
    <div class="container" *ngIf="isPdf2Image">
      <image-cropper 
      [imageBase64]="strdPdf2Img"
      (imageCropped)="cropImage($event)"
      [maintainAspectRatio]="false"
      [aspectRatio]="2 / 2">
      </image-cropper>
    </div>
    <div class="container" *ngIf="isImageCropped">
      <h6>Cropped Image Preview</h6>
      <img [src]="strdCrppdImg" />
    </div>
</div>
  <!-- <div class="row justify-content-end">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
</div>

  

