.pagescount {
    margin: 0.5rem;
}
.button-margin {
    margin-right: 1rem;
}
.top-margin {
    margin-top: 1.5rem;
}
pdf-viewer{
    height: 300vh !important;
}
.pdf-container {
    height: 200vh !important;
    overflow: scroll;
}