<!-- preset selector/scan profile -->
<div class="preset-selector container p-4" *ngIf="showScanProfileSelectorDiv">
  <div class="row mb-5">
    <h4>Please select a scan profile</h4>
  </div>
  <div class="container text-center">
    <div class="row row-cols-3 mb-5">
      <div class="col-12">
        <button class="btn btn-primary col-3 m-2" *ngFor="let profile of uniqueProfiles" [value]="profile.presetName">{{profile.presetName}}</button>
      </div>
    </div>
  </div>
  <div class="row p-1">
    <div class="col text-center">
      <p>Add a new scan profile?</p>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <button class="btn btn-primary col-6" (click)="skipToUploadPdf()" >New Scan Profile</button> 
    
  </div>
</div>
<!-- utility selector -->
<div class="utility-selector container p-4" *ngIf="showUtilitySelectorDiv">
  <div class="row justify-content-center mb-5">
    <h4>Please select a utility bill or meter option</h4>
  </div>
  <div class="row mb-5">
    <!-- <div class="d-flex flex-wrap justify-content-around">
      <button class="btn btn-primary col-4 mb-5" *ngFor="let sourceOption of sourceOptions">{{sourceOption}}</button>
    </div> -->
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Electricity</button>
    </div>
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Water</button>
    </div>
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Natural Gas</button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Waste Water</button>
    </div>
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Other Energy</button>
    </div>
    <div class="col">
      <button class="btn btn-primary col-12" (click)="this.showUtilitySelectorDiv = false; this.showFileUploadDiv = true">Other Fuels</button>
    </div>
  </div>
</div>

<!-- completion menu-->
<div class="verify-menu container p-3" *ngIf="show_ocr_results_div">
  <div class="col">
    <div class="row mb-5">
      <div *ngFor="let item of JSON_object; let i = index">
        <label>{{ item.key }}:</label>
        <input type="text" [(ngModel)]="item.value" name="{{item.key}}">
      </div>
      <button class="btn btn-primary col-12 mb-3" id="saveAll" (click) = "endProfile()">Confirm Save</button>
      <button class="btn btn-primary col-12 mb-3" (click) = "this.show_ocr_results_div = false; this.showPdfModalDiv = true">Go back</button>
  </div>
    </div>

</div>

<!-- upload pdf -->
<div class="file-upload container p-4" *ngIf="showFileUploadDiv">
  <div class="row mb-2">
    <h4>Import Data from .PDF Files</h4>
  </div>
  <div class="alert alert-info">
    <ul class="mb-0">
      <li>Select the file you wish to upload.</li>
      <li>Data must be a .PDF file type.</li>
      <li>Once the files have been selected, we will work through selecting the relevant data on the bill.</li>
      <li>Click the "Choose Files" button or drag and drop files into the grey box.</li>
      <li>One file can be uploaded at a time.</li>
    </ul>
  </div>
  <hr>
  
  <!-- scan profile/preset name -->
  <div class="col-4 mb-3">
    <label for="preset-name" class="form-label">Scan Profile Name</label>
    <span class="required">*</span>
    <div class="input-group">
      <input class="presetname form-control" type="text" id="preset-name" placeholder="Scan Profile Name">
      <button class="presetname btn btn-primary" type="button" (click)="updatePreset()">Save</button>
    </div>
  </div>
  <div id ="inputDiv" class="form-control" style="pointer-events: none;">
  <input class="form-control" type="file" id="upload-doc" accept=".pdf" (change)="uploadPdf($event); this.showFileUploadDiv = false; this.showPdfModalDiv = true" />
  </div>
  <hr>
</div>

<!-- show pdf -->
<div class="show-pdf container p-4" *ngIf="showPdfModalDiv">
  <div class="row justify-content-center mb-2">
    <h4>Set up scan profile</h4>
  </div>
  <div class="alert alert-info">
    <ul class="mb-0">
      <li>Please select the required fields.</li>
      <li>Click a box to the left to begin snipping.</li>
      <li>Once all of the required fields are selected, we will work through reading in the bill.</li>
    </ul>
  </div>

  <div class="d-flex mt-5">
    <!-- page numbers -->
    <button class="btn btn-primary"id="saveAll" type="button" (click)="this.show_ocr_results_div = true; this.showPdfModalDiv = false">Save Profile Changes</button>
    <div class="d-inline-flex ms-auto" *ngIf="isPdfUploaded">
      <button class="btn action-btn" type="button" (click)="previous()">
        <i class="fa fa-chevron-left"></i>
      </button>
      <p class="pagescount">Page {{currentpage}} of {{totalPages}}</p>
      <button class="btn action-btn" type="button" (click)="next()">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>
    <!-- crop image button -->
    <div class="pagescount ms-auto" *ngIf="isPdf2Image">
      <button (click)="doOCR()" class="btn btn-primary">Crop Image</button>
      <!-- <button (click)="" class="btn btn-primary">Add json object</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-4 mt-5">
      <!-- attribute buttons -->
      <div class="ms-e me-3" *ngIf="showCropButtons">
        <div class="d-flex flex-column justify-content-center" *ngFor="let attr of undefinedMeterData; let i=index">
          <button class="btn action-btn p-3 mb-3" (click)="pdfToCanvas($event,i)" [style.color] = "attr[1]"
            [id]="attr[0]" [disabled]="isPdf2Image ? true : false">
            {{ attr[0] }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="pdf-container top-margin" *ngIf="isPdfUploaded">
        <pdf-viewer 
        [src]="pdfSrc" 
        [render-text]="true" 
        [page]="currentpage" 
        [show-all]="false" 
        [original-size]="false"
        [zoom-scale]="'page-fit'"
        (after-load-complete)="afterLoadComplete($event)">
        </pdf-viewer>
      </div>
  
      <div class="container" *ngIf="isPdf2Image">
        <image-cropper 
        [imageBase64]="strdPdf2Img"
        (imageCropped)="cropImage($event)"
        [maintainAspectRatio]="false"
        [containWithinAspectRatio]="false" 

        [aspectRatio]="2 / 2">
        </image-cropper>
      </div>
      
      <div class="container" *ngIf="isOcrResult">
        <h1>OCR Result</h1>
        <h3>{{ ocrResult }}</h3>
        <h3 *ngIf="isOcrResult && ocrResult == ''">No text could be read</h3>
      </div>
    </div>
  </div>
</div>